 * {
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
     margin: 0;
     padding: 0;
 }

 .container {
     background: url("../images/estee-janssens-aQfhbxailCs-unsplash.jpg") no-repeat center center/cover;
     height: 100vh;
 }

 .darken {
     display: flex;
     flex-direction: row-reverse;
     background-color: rgb(38, 70, 83, 0.8);
     color: white;
     height: 100%;
     padding: 50px 10px;
     
 }

 .primary-text {
     color: #f4a261 ;
 }

 .counter {

    background: #264653;
     width: 200px;
     height: 120px;
     border: 2px solid #2a9d8f;
     text-align: center;
     padding: 1rem;
 }
 .counter h3{
     padding:10px;
 }

 .count {
    
    font-size: 2rem;
    font-weight: bold;
    
 }

 .appFace {
     background: #264653;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 40%;
     border: 2px solid #2a9d8f;
     border-radius: 5px;
     margin:  auto;
     padding: 15px;

 }

 #title {
     margin: 2rem 0;
 }

 h2 {
     padding: 10px 0;
 }

ul {
    list-style:disc;
    padding: 12px 24px;
}

li {
    font-size: 1.2rem;
    border-bottom: 1px solid #2a9d8f;
    margin-bottom: 4px;
}

 .done {
     text-decoration: line-through;
     color: #f4a261;
 }

 input, button {
     outline: none;
 }

 input {
     border: 2px solid #2a9d8f;
     padding: 0.2rem;
     border-radius: 0.3rem;
     margin: 0.5rem 0;
 }

 button {
     border:1px solid #2a9d8f;
     border-radius: 3px;
     background: #f4a261;
     padding: 6px 20px;
     color: white;
 }

 button:hover, li:hover {
     cursor: pointer;
 }


 #toast {
    visibility: hidden;
    min-width: 200px;
    height: 50px;
    background: #264653;
    border: 2px solid #2a9d8f;
    padding: 14px;
    font-size: 1.2rem;
    font-weight:bold;
    z-index: 1;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-300px);
    opacity: 0;
}
 
#toast.show-toast {
  visibility: visible !important;
  transform: translateX(0);
  opacity: 1;
}